a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

a:active {
    color: red;
}

body {
    background-color: darkolivegreen;
}

table {
    width: 50%;
    margin: auto;
    border: 1px solid #6c1942;
    box-shadow: 10px 10px 10px 10px #888888;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

